.marquee {
	width: 30em;
	height: 3.2em;
	margin: auto;
	overflow: hidden;
	white-space: nowrap;
}
.marquee > div {
	-webkit-animation: marquee 69s infinite linear;
}
.flow {
	width: 240em;
	display: flex;
}
.spaced {
	width: 60em;
}
@-webkit-keyframes marquee {
	0% {
		-webkit-transform: translate3d(30em, 0, 0);
	}

	100% {
		-webkit-transform: translate3d(-240em, 0, 0);
	}
}
